.snowflake{z-index:-100!important}body{background-image:url(/assets/bkg_winter.png)!important}#banner{background-image:url(/assets/Christmas_Banner.png)!important}#info{background-color:#b50006}#welcome{background-color:#b50006}#navbar{background-color:#b50006}#navlower{background-color:#007d1f}table:nth-of-type(odd) tbody tr th{background-color:#b50006}table:nth-of-type(even) tbody tr th{background-color:#007d1f}.thread-title{background-color:#b50006}#footer{background:#8a0000}blockquote{border-left:5px solid #b50006}.shopSideBarButton{background-color:#007d1f}.crateSideBarButton{background-color:#007d1f}.button{background-color:#007d1f}input[type=buttoni],input[type=submiti],input[type=reseti],input[type=filei]::-webkit-file-upload-button,button,select,.button-style{background-color:#b50006}

<script>
snowStorm.snowColor = '#ddeeff';
snowStorm.animationInterval = 60;
snowStorm.flakesMaxActive = 50;
snowStorm.followMouse = false;
snowStorm.snowStick = false;
snowStorm.vMaxX = 1;
snowStorm.vMaxY = 1;
snowStorm.className = 'snowflake';
  </script>

/*
     FILE ARCHIVED ON 01:46:50 Dec 31, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:23:09 Jun 03, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 174.397
  exclusion.robots: 0.133
  exclusion.robots.policy: 0.124
  RedisCDXSource: 3.066
  esindex: 0.007
  LoadShardBlock: 147.011 (3)
  PetaboxLoader3.datanode: 186.149 (5)
  CDXLines.iter: 18.279 (3)
  load_resource: 364.61 (2)
  PetaboxLoader3.resolve: 290.251 (2)
*/